Binaries/*
DerivedDataCache/*
Intermediate/*
Saved/*
Build/*
!Plugins/*/Intermediate/
!Plugins/*/Binaries/
Plugins/*/Intermediate/*
Plugins/*/Binaries/*
!Plugins/FMODStudio/Binaries/*
!Plugins/FMODStudio/Binaries/*/*
Plugins/FMODStudio/Binaries/*/UE4*.*
.idea
.vscode
.vs
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace
*.code-workspace
*.DS_Store
*.gitlog
Releases/*
